@font-face {
	font-family: 'DINPro-Medium';
	src: url('../fonts/DINPro-Medium.eot');
  src: local('☺'), 
    url('../fonts/DINPro-Medium.woff') format('woff'), 
    url('../fonts/DINPro-Medium.ttf') format('truetype'), 
    url('../fonts/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro-Bold';
	src: url('../fonts/DINPro-Bold.eot');
  src: local('☺'), 
    url('../fonts/DINPro-Bold.woff') format('woff'), 
    url('../fonts/DINPro-Bold.ttf') format('truetype'), 
    url('../fonts/DINPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro-Black';
	src: url('../fonts/DINPro-Black.eot');
  src: local('☺'), 
    url('../fonts/DINPro-Black.woff') format('woff'), 
    url('../fonts/DINPro-Black.ttf') format('truetype'), 
    url('../fonts/DINPro-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro-Regular';
	src: url('../fonts/DINPro-Regular.eot');
  src: local('☺'), 
    url('../fonts/DINPro-Regular.woff') format('woff'), 
    url('../fonts/DINPro-Regular.ttf') format('truetype'), 
    url('../fonts/DINPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro-RegularItalic';
	src: url('../fonts/DINPro-RegularItalic.eot');
  src: local('☺'), 
    url('../fonts/DINPro-RegularItalic.woff') format('woff'), 
    url('../fonts/DINPro-RegularItalic.ttf') format('truetype'), 
    url('../fonts/DINPro-RegularItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}