$colblack: #000;
$colblack2: #1b1c20;
$colblack3: #353535;
$collightblue: #2BB5E6;
$colbrown: #b17e4e;
$colgray: #abacb2;
$colgray2: #4d4d4d;
$colgray3: #555;
$colgray4: #d6d6d6;
$colgray5: #65666a;
$colgray6: #bebebe;
$colgray7: #5f5f5f;
$colgray8: #808080;
$colgray9: #f3f3f3;
$colgray10: #dadada;
$colgray11: #7f7f7f;
$colgray12: #ebebeb;
$colgray13: #959595;
$colorange: #EC6000;
$colred: #e6050a;
$colwhite: #fff;